<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="pathFacturasClientes" value="E:\Inventiva\Proyectos\SATeC.Integrador\SATeC.Integrador.Agentes\bin\Debug\FacturasClientes" />
    <add key="pathFacturasProveedores" value="E:\Inventiva\Proyectos\SATeC.Integrador\SATeC.Integrador.Agentes\bin\Debug\FacturasProveedores" />
    <add key="pathFacturasNomina" value="E:\Inventiva\Proyectos\SATeC.Integrador\SATeC.Integrador.Agentes\bin\Debug\FacturasNomina" />
    <add key="pathOutClientes" value="E:\Inventiva\Proyectos\SATeC.Integrador\SATeC.Integrador.Agentes\bin\Debug\OutPutClientes" />
    <add key="pathOutProveedores" value="E:\Inventiva\Proyectos\SATeC.Integrador\SATeC.Integrador.Agentes\bin\Debug\OutPutProveedores" />
    <add key="pathOutNomina" value="E:\Inventiva\Proyectos\SATeC.Integrador\SATeC.Integrador.Agentes\bin\Debug\OutPutNomina" />
  </appSettings>
</configuration>